/*-------------------------------------NORMALIZE CONTENT-------------------------------------*/

* {
  border: 0;
  height: 100vh;
  margin: 0;
  width: 100vw;
  font-family: courier;
  box-sizing: border-box;
}

/*-------------------------------------ELEMENTS-------------------------------------*/

body {
  background-color: #000000;
  height: 100vh;
  transition: all 5s cubic-bezier(0, 1.14, 0.82, 1.02);
  width: 100vw;
  pointer-events: all;
}

body:before {
  background-image: url(https://user-images.githubusercontent.com/11747875/215290613-8f295e44-9365-45ec-8bac-848a59ba7087.png);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  content: '';
  height: 100%;
  opacity: .5;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 27vh;
  width: 34%;
  overflow: hidden;
  z-index: 100;
  border-top: 5px solid rgba(255, 255, 255, .7);
  transition-duration: 2s;
  transition-property: top;
}

p,
li {
  width: fit-content;
  color: rgba(255, 255, 255, .8);
  height: min-content;
  word-break: break-word;
  text-shadow: 0px 0px 10px #D99A25;
  transition-duration: 2s;
  transition-property: top;
  line-height: 150%;
}

li {
  list-style-type: none;
}

ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* flex-basis: min-content; */
  max-width: fit-content;
}

/*-------------------------------------CLASSES-------------------------------------*/

.background {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  display: flex;
  overflow-wrap: break-word;
  position: relative;
  text-shadow: 0px 0px 10px rgba(0, 225, 0, 0.9);
  transition: all 1s cubic-bezier(0, 1.14, 0.82, 1.02);
  word-wrap: break-word;
}

.bold {
  font-weight: 800;
}

.bottom-circle {
  border: rgba(255, 255, 255, .7);
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  height: 25px;
  right: 0;
  /* margin: auto; */
  width: 25px;
  position: absolute;
  top: -12.5px;
  overflow: hidden;
}

.cli {
  align-content: center;
  color: rgba(255, 255, 255, 0.2);
  display: flex;
  font-size: max(1rem, 2vw);
  height: fit-content;
  justify-content: center;
  text-align: center;
  text-shadow: 1px 1px 7px rgb(255 255 255 / 72%);
  width: 14%;
}

.display {
  box-shadow: border-box;
  color: rgba(255, 255, 255, .6);
  font-size: max(1rem, 2vw);
  height: auto;
  margin: auto;
  overflow-y: hidden;
  padding-left: 10px;
  text-align: left;
  text-overflow: ellipsis;
  transition: all 1s cubic-bezier(0, 1.14, 0.82, 1.02);
  z-index: 10;
}

.display::after {
  animation-name: blinker;
  animation-duration: 1s;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: ease-in-ease-out;
  animation-iteration-count: 3000;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-ease-out;
  -webkit-animation-iteration-count: 3000;
  content: "|";
  top: -2px;
}

.display1 {
  display: flex;
  height: fit-content;
  margin: auto;
  padding: 40px 40px 40px 40px;
  text-align: center;
  text-shadow: none;
  top: 22vh;
  transition: all 3s cubic-bezier(0, 1.14, 0.82, 1.02);
  width: 80%;
  z-index: 10;
}

.extra-space {
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.fine-print,
li {
  font-size: .75rem;
  line-height: 120%;
  padding: 0;
  max-width: 33vw;
}

.footer--container {
  max-width: 35vw;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: auto;
  margin-left: -5px;
}

.text-desktop {
  width: auto;
}


.title {
  position: absolute;
  top: 0vh;
  left: 66%;
  height: 27vh;
  width: 34%;
  overflow: hidden;
  z-index: 100;
  border-bottom: 5px solid rgba(255, 255, 255, .7);
  transition-duration: 2s;
  transition-property: top;
  padding: 3rem;
}

.title::after {
  content: 'Can you crack the Konami Code?';
  display: none;
  height: 100%;
  width: 100%;
}

.title--h1 {
  width: fit-content;
  height: 100%;
  position: absolute;
  top: 5vh;
  left: 0;
  font-size: max(3.25rem, 1vw);
  word-break: break-word;
  text-shadow: 0px 0px 10px rgb(255 255 255 / 100%);
  transition-duration: 2s;
  transition-property: top;
  width: auto;
}

/* keep hidden below the title so that it can overwrite the top value without having to increase specificity */
.hidden {
  top: 30vh;
  position: absolute;
  transition-duration: 2s;
  transition-property: top;
}


.top-circle {
  border: rgba(255, 255, 255, .7);
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  height: 25px;
  left: 0px;
  margin: auto;
  width: 25px;
  position: absolute;
  bottom: -12.5px;
  overflow: hidden;
}



/*-------------------------------------KEYFRAMES-------------------------------------*/

@-moz-keyframes blinker {

  /* Decimal not necessary, 0 and 1 is enough */
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@-webkit-keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@keyframes blinker {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1.0;
  }
}

@media screen and (max-width: 1200px) {
  .text-desktop {
    display: none;
  }

  .text-mobile-container {
    display: flex;
    flex-direction: row;
    width: 66%;
    word-break: break-word;
    padding: 1em 0 0 .5em;
  }


  .text-mobile {
    font-size: max(2rem, 1vw);
    word-break: initial;
    word-wrap: unset;
    transition: all 1s ease;
  }
}

@media screen and (max-width: 900px) {
  .text-mobile {
    font-size: max(1rem, 1vw);
    word-break: initial;
    word-wrap: unset;
    transition: all 1s ease;
  }

  .title--h1 {
    font-size: max(2rem, 1vw);
  }

  .fine-print {
    font-size: 1rem;
  }

}

@media screen and (max-width: 600px) {
  .title--h1 {
    font-size: max(1.15rem, 1vw);
  }

  p,
  li {
    max-width: fit-content;
    color: rgba(255, 255, 255, .8);
    height: min-content;
    word-break: break-word;
    text-shadow: 0px 0px 10px #D99A25;
    transition-duration: 2s;
    transition-property: top;
    line-height: 80%;
  }

  footer {
    padding: 5px;
  }
}

/* @media screen and (max-width: 600px) {
  .top-circle {
    top: 26vh;
  }
} */